/*
  ----------------
  Home page
  ----------------
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}

html {
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  color: #333;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.nav {
  padding: 50px 0 80px;
  @media #{$mid} {
    padding: 30px 0 40px;
  }
  @media #{$strictsp} {
    padding: 30px 0;
  }

  &-link {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 3px;
    border-bottom: 2px solid transparent;
    transition: all ease .2s;
    @media #{$sp} {
      font-size: 20px;
      padding-bottom: 2px;
      transition: none;
    }
    
    &:first-of-type {
      margin-right: 30px;
    }
    
    &:hover {
      border-bottom: 2px solid #333;
      @media #{$sp} {
        border-bottom: 2px solid transparent;
      }
    }

    &.active {
      border-bottom: 2px solid #333;
    }
  }

  .container {
    display: flex;
    justify-content: flex-start;
    @media #{$sp} {
      justify-content: center;
    }
  }
}

.none {
  display: none;
}

.card {
  &-list {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    @media #{$pc} {
      justify-content: flex-start;
    }
    @media #{$mid} {
      justify-content: space-between;
    }
    @media #{$strictsp} {
      justify-content: center;
    }
  }

  &-item {
    background: #fafafa;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-bottom: 40px;
    overflow: hidden;
    @media #{$pc} {
      width: 24%;
    }
    @media #{$mid} {
      width: 48%;
      margin-bottom: 30px;
    }
    @media #{$strictsp} {
      width: 80%;
      margin-bottom: 20px;
    }

    &:not(:nth-of-type(3n)) {
      margin-right: 30px;
      @media #{$sp} {
        margin-right: 0;
      }
    }

    &--hor {
      position: relative;
      width: 80%;
      height: 200px;
      margin-right: 0 !important;
      @media #{$pc} {
        width: 60%;
      }
      @media #{$strictsp} {
        width: 100%;
        height: 120px;
      }

      .card-link {
        display: flex;
      }
      .card-img {
        width: 200px;
        height: 200px;
        @media #{$strictsp} {
          width: 120px;
          height: 120px;
        }
      }
      .card-txt {
        width: calc(100% - 200px);
        height: 200px;
        padding: 20px;
        @media #{$strictsp} {
          width: calc(100% - 120px);
          height: 120px;
          padding: 15px;
        }
        &__title {
          font-weight: bold;
          margin-bottom: 20px;
          @media #{$strictsp} {
            font-size: 14px;
            margin-bottom: 5px;
          }
        }
        &__para {
          color: #555;
          line-height: 1.6;
          @media #{$strictsp} {
            font-size: 12px;
          }
        }
      }
      .card-stars {
        position: absolute;
        bottom: 20px;
        @media #{$strictsp} {
          bottom: 15px;
        }
      }
    }
  }

  &-link {
    width: 100%;
    height: auto;
  }

  &-img {
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: auto;
    .img {
      width: 100%;
      height: 100%;
    }
  }

  &-txt {
    position: relative;
    height: 130px;
    padding: 10px 15px;
    @media #{$sp} {
      height: 100px;
    }

    &__label {
      color: #aaa;
      font-size: 14px;
      margin-bottom: 5px;
    }

    &__title {
      font-size: 18px;
    }

    &__more {
      position: absolute;
      bottom: 10px;
      font-size: 14px;
      .highlight {
        color: #ff8000;
      }
      .crossout {
        color: #bbb;
        text-decoration: line-through;
      }
    }
  }

  &-rating {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60px;
    padding: 0 15px;
    border-top: 1px solid #ddd;

    &__para {
      color: #555;
      font-size: 14px;
    }
  }

  &-stars {
    display: flex;
  }

  &-star {
    display: block;
    width: 20px;
    height: 20px;
    cursor: pointer;

    .star {
      &::before {
        content: "\f005";
        font-family: fontAwesome;
        font-size: 1em;
        font-style: normal;
        width: 100%;
        height: 100%;
        color: #ccc;
      }
    }

    &.hover {
      .star::before {
        color: #ffcc36;
      }
    }
    &.selected {
      .star::before {
        color: #ffcc36;
      }
    }
  }
}

.form {
  &-wrapper {
    position: relative;
    &:not(:last-of-type) {
      margin-bottom: 40px;
    }

    .form-inputarea + .form-counter {
      right: 115px;
      @media #{$strictsp} {
        right: 105px;
      }
    }

    textarea[name="input-disabled"] {
      background: #fafafa;
      &::placeholder {
        color: rgb(233, 60, 60);
      }
    }

    textarea[name="input-readonly"] {
      border: 1px solid #aaa;
      &::placeholder {
        color: #777;
      }
    }
  }

  &-label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
  }

  &-inputarea {
    display: flex;
    justify-content: space-between;
    .form-textarea {
      width: calc(100% - 105px);
      @media #{$strictsp} {
        width: calc(100% - 95px);
      }
    }
  }

  &-textarea {
    display: block;
    width: 100%;
    height: 100px;
    font-size: 14px;
    padding: 10px;
    border: 1px solid #ccc;
    overflow: scroll;
    @media #{$strictsp} {
      height: 90px;
    }

    &::placeholder {
      color: #bbb;
      font-size: 14px;
    }

    &.active {
      border: 1px solid #00cfbe;
    }
    &.alert {
      border: 1px solid rgb(233, 60, 60);
    }
  }

  &-submit {
    width: 100px;
    height: 100px;
    color: #ccc;
    border: 1px solid #ccc;
    margin-left: 5px;
    @media #{$strictsp} {
      width: 90px;
      height: 90px;
    }

    &.active {
      color: #00cfbe;
      border: 1px solid #00cfbe;
    }
    &.alert {
      color: rgb(233, 60, 60);
      border: 1px solid rgb(233, 60, 60);
    }
  }

  &-counter {
    position: absolute;
    color: #aaa;
    font-size: 14px;
    right: 10px;
    bottom: 10px;
  }
}