/*
  ----------------
  Utility
  ----------------
*/

.container {
  @include container;
}

/*
  ----------------
  Responsive
  ----------------
*/

.sp-only {
  @media #{$pc} {
    display: none !important;
  }
}

.pc-only {
  @media #{$sp} {
    display: none !important;
  }
}

