// Breakpoint

$sp: "all and (max-width : 1000px)";
$strictsp: "all and (max-width : 680px)";
$mid: "all and (min-width: 681px) and (max-width: 1000px)";
$pc: "all and (min-width: 1001px)";

// Font-family

$font-family: "roboto", "Helvetica Neue", Helvetica, Arial, "맑은 고딕", malgun gothic, "돋움", Dotum, sans-serif;

// Container

$container: 1000px;